<ion-header>
  <ion-toolbar>
    <ion-title>add-lecturaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="new_lectura" (ngSubmit)="Guardar()">
    <ion-item color="primary">
      <ion-label position="stacked">Fecha</ion-label>
      <ion-datetime-button datetime="date1"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="date1" presentation="date" formControlName="fecha"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>
  <ion-item color="secondary">
    <ion-label position="floating">Lectura</ion-label>
    <ion-input clearInput formControlName="lectura" type="number" step="any"></ion-input>
  </ion-item>
 
  <ion-item>
    <ion-button type="submit" slot="end" [disabled]="!new_lectura.valid">Guardar</ion-button>
  </ion-item>
</form>

</ion-content>