
ion-content{
  --ion-background-color:#1479df;
}
.new-background-color{
  --background: #01121a;
}
.card{
  --background: #4baa9c;
}

$colors: (
primary:    #488aff,
secondary:  #32db64,
danger:     #f53d3d,
light:      #f4f4f4,
dark:       #222
);