* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'open sans';
}

.contenedor {
  padding: 60px 0;
  width: 90%;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}

.titulo {
  color: #642a73;
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
}

/* Header */

header {
  width: 100%;
  height: 600px;
  background: #2980b9;
  background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, hsla(204, 64%, 44%, 0.625)), url(https://surenergy.com.bo/assets/images/que_hacemos/portadas/portada_agua_potable.png);
  background: linear-gradient(to right, hsla(0, 0%, 100%, 0.678), hsla(196, 93%, 70%, 0.693), hsla(204, 64%, 44%, 0.551)), url(https://surenergy.com.bo/assets/images/que_hacemos/portadas/portada_agua_potable.png);
  background-size: cover;
  background-attachment: fixed;
  position: relative;

}

nav{
  text-align: right;
  padding: 30px 20px 10px 0;
}

nav > a{
  color:#414141;
  font-weight: 300;
  text-decoration: none;
  margin-right: 50px;
}

nav > a:hover{
  text-decoration: underline;
}

header .textos-header{
  display: flex;
  height: 430px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.textos-header h1{
  font-size: 50px;
  color:#414141;
}

.textos-header h2{
  font-size: 30px;
  font-weight: 300;
  color:#414141;
}

.wave{
  position: absolute;
  bottom: 0;
  width: 100%;
}
/* footer */

footer{
  background: #414141;
  padding: 60px 0 30px 0;
  margin: 0;
  overflow: hidden;
}

.contenedor-footer{
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc;
}

.content-foo{
  text-align: center;
}

.content-foo h4{
  color: #fff;
  border-bottom: 3px solid #1696af;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.content-foo p{
  color: #ccc;
}

.titulo-final{
  text-align: center;
  font-size: 24px;
  margin: 20px 0 0 0;
  color: #9e9797;
}


